@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-05-02 16:17:57
 * @version $Id$
 */
*{
	margin: 0;
	padding: 0;
}
.left{
	font-size: 30px;
	font-weight: 900;
}
div{
	margin:20px auto;
	width: 100%;
	
}
th{
	width: 100px;
	height: 20px;
	/*不设置这个会出现合并列无效*/
	table-layout="fixed"
}
td{
	table-layout="fixed"
	width: 200px;
	height: 20px;
}
.basic-title{
	font-size: 24px;
	font-weight: 900;
}